body{
  font-family: Helvetica;
  font-size: 16pt;
}

h2{
  font-size: 24pt;
  font-weight: bold;
  color: blue;
}

h3{
  font-size: 18pt;
  font-weight: bold;
  color: darkblue;
}

h4{
  font-size: 18pt;
  font-weight: bold;
  color: red;
}

h5{
  font-size: 18pt;
  font-weight: bold;
  color: darkblue;
}

h6{
  font-size: 18pt;
  font-weight: bold;
  color: darkblue;
}

.r{ /* Code block */
  font-size: 16px;
}

.date{
  font-family: Helvetica;
  font-size: 22px;
  color: #006400;
  font-weight: bold;
}

.quote-container blockquote p {
  font-size: 50px;
}

.bibliography{
  font-family: Helvetica;
  font-size: 16px;
}

pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}